ENHANCED-VOTING-FLOW.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "weekDays": ["Thursday"],
            "hours": [12],
            "minutes": [0]
          },
          "timeZone": "Eastern Standard Time"
        },
        "type": "Recurrence"
      }
    },
    "actions": {
      "Get_restaurant_options": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent('https://oemeta01.sharepoint.com/sites/OemetaNorthAmerica')}/tables/@{encodeURIComponent('Restaurant_Options')}/items",
          "queries": {
            "$filter": "IsActive eq true"
          }
        },
        "runAfter": {}
      },
      "Get_active_subscribers": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent('https://oemeta01.sharepoint.com/sites/OemetaNorthAmerica')}/tables/@{encodeURIComponent('Subscription_Preferences')}/items",
          "queries": {
            "$filter": "ParticipateInLunch eq true"
          }
        },
        "runAfter": {
          "Get_restaurant_options": ["Succeeded"]
        }
      },
      "Format_restaurant_list": {
        "type": "Compose",
        "inputs": "@join(select(body('Get_restaurant_options')?['value'], concat('• ', item()?['RestaurantName'], ' (', item()?['FoodType'], ') - ', item()?['MenuLink'])), '<br>')",
        "runAfter": {
          "Get_active_subscribers": ["Succeeded"]
        }
      },
      "Apply_to_each_subscriber": {
        "type": "Foreach",
        "foreach": "@body('Get_active_subscribers')?['value']",
        "actions": {
          "Check_notification_preferences": {
            "type": "Condition",
            "expression": {
              "and": [
                {
                  "not": {
                    "equals": [
                      "@items('Apply_to_each_subscriber')?['PreferredNotifications']",
                      null
                    ]
                  }
                }
              ]
            },
            "actions": {
              "Parse_notification_preferences": {
                "type": "Compose",
                "inputs": "@split(items('Apply_to_each_subscriber')?['PreferredNotifications'], ';')"
              },
              "Check_Teams_preference": {
                "type": "Condition",
                "expression": {
                  "contains": [
                    "@outputs('Parse_notification_preferences')",
                    "Microsoft Teams"
                  ]
                },
                "actions": {
                  "Post_to_Teams": {
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "body": {
                          "content": "<div><h2>🗳️ Weekly Lunch Voting is Open!</h2><p>Hi @{items('Apply_to_each_subscriber')?['FullName']},</p><p>Time to vote for this week's lunch spot! Here are your options:</p><div style='background-color: #f0f8ff; padding: 15px; border-radius: 5px; margin: 15px 0;'>@{outputs('Format_restaurant_list')}</div><p><strong>📝 <a href='https://forms.office.com/e/dH0SR0c1Gj'>Click here to vote now!</a></strong></p><p>⏰ Voting closes Friday at 7:45 AM</p></div>",
                          "contentType": "html"
                        }
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['teams']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v1.0/teams/@{encodeURIComponent('YOUR_TEAMS_ID')}/channels/@{encodeURIComponent('YOUR_CHANNEL_ID')}/messages"
                    }
                  }
                },
                "else": {},
                "runAfter": {
                  "Parse_notification_preferences": ["Succeeded"]
                }
              },
              "Check_Outlook_preference": {
                "type": "Condition",
                "expression": {
                  "or": [
                    {
                      "contains": [
                        "@outputs('Parse_notification_preferences')",
                        "Outlook Email"
                      ]
                    },
                    {
                      "contains": [
                        "@outputs('Parse_notification_preferences')",
                        "Gmail"
                      ]
                    }
                  ]
                },
                "actions": {
                  "Send_email_notification": {
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "To": "@items('Apply_to_each_subscriber')?['EmailAddress']",
                        "Subject": "🗳️ Friday Lunch Voting is Open!",
                        "Body": "<div style='font-family: Segoe UI, Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa;'>\n  <div style='background-color: white; border-radius: 10px; padding: 30px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);'>\n    <h2 style='color: #e74c3c; text-align: center; margin-bottom: 30px;'>🗳️ Weekly Lunch Voting</h2>\n    \n    <p style='color: #34495e; font-size: 16px; line-height: 1.6;'>Hi <strong>@{items('Apply_to_each_subscriber')?['FullName']}</strong>,</p>\n    \n    <p style='color: #34495e; font-size: 16px; line-height: 1.6;'>It's time to vote for this week's Friday lunch! Here are your delicious options:</p>\n    \n    <div style='background-color: #f0f8ff; border-left: 4px solid #3498db; padding: 20px; margin: 20px 0; border-radius: 5px;'>\n      @{outputs('Format_restaurant_list')}\n    </div>\n    \n    <div style='text-align: center; margin: 30px 0;'>\n      <a href='https://forms.office.com/e/dH0SR0c1Gj' style='background-color: #e74c3c; color: white; padding: 15px 30px; text-decoration: none; border-radius: 25px; font-weight: bold; font-size: 16px; display: inline-block;'>🗳️ VOTE NOW</a>\n    </div>\n    \n    <div style='background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 5px;'>\n      <p style='color: #856404; margin: 0; font-weight: bold;'>⏰ Voting closes Friday at 7:45 AM</p>\n      <p style='color: #856404; margin: 5px 0 0 0; font-size: 14px;'>Don't wait - vote now to make sure your voice is heard!</p>\n    </div>\n    \n    @{if(not(empty(items('Apply_to_each_subscriber')?['DietaryRestrictions'])), \n      concat('<div style=\"background-color: #e8f4f8; border-left: 4px solid #17a2b8; padding: 15px; margin: 20px 0; border-radius: 5px;\"><p style=\"color: #0c5460; margin: 0; font-size: 14px;\"><strong>Your dietary notes:</strong> ', items('Apply_to_each_subscriber')?['DietaryRestrictions'], '</p><p style=\"color: #0c5460; margin: 5px 0 0 0; font-size: 12px;\">We\\'ll keep these in mind when selecting options!</p></div>'), \n      '')}\n    \n    <div style='text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #ecf0f1;'>\n      <p style='color: #7f8c8d; font-size: 12px; margin: 0;'>Questions? Reply to this email | Automated by pacheco@oemeta.com</p>\n    </div>\n  </div>\n</div>",
                        "Importance": "Normal"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v2/Mail"
                    }
                  }
                },
                "else": {},
                "runAfter": {
                  "Check_Teams_preference": ["Succeeded", "Failed", "Skipped"]
                }
              },
              "Check_SMS_preference": {
                "type": "Condition",
                "expression": {
                  "and": [
                    {
                      "contains": [
                        "@outputs('Parse_notification_preferences')",
                        "SMS/Text Message"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('Apply_to_each_subscriber')?['PhoneNumber']",
                          null
                        ]
                      }
                    }
                  ]
                },
                "actions": {
                  "Send_SMS_via_Twilio": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_SID/Messages.json",
                      "headers": {
                        "Authorization": "Basic @{base64(concat('YOUR_TWILIO_SID', ':', 'YOUR_TWILIO_TOKEN'))}"
                      },
                      "body": "@concat('From=+1234567890&To=', items('Apply_to_each_subscriber')?['PhoneNumber'], '&Body=🍕 Friday lunch voting is open! Vote now: https://forms.office.com/e/dH0SR0c1Gj - Voting closes Fri 7:45AM')"
                    }
                  }
                },
                "else": {},
                "runAfter": {
                  "Check_Outlook_preference": ["Succeeded", "Failed", "Skipped"]
                }
              },
              "Check_WhatsApp_preference": {
                "type": "Condition",
                "expression": {
                  "and": [
                    {
                      "contains": [
                        "@outputs('Parse_notification_preferences')",
                        "WhatsApp"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('Apply_to_each_subscriber')?['PhoneNumber']",
                          null
                        ]
                      }
                    }
                  ]
                },
                "actions": {
                  "Send_WhatsApp_via_Twilio": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_SID/Messages.json",
                      "headers": {
                        "Authorization": "Basic @{base64(concat('YOUR_TWILIO_SID', ':', 'YOUR_TWILIO_TOKEN'))}"
                      },
                      "body": "@concat('From=whatsapp:+1234567890&To=whatsapp:', items('Apply_to_each_subscriber')?['PhoneNumber'], '&Body=🍕 Hi ', items('Apply_to_each_subscriber')?['FullName'], '! Friday lunch voting is open. Vote now: https://forms.office.com/e/dH0SR0c1Gj - Voting closes Friday 7:45AM')"
                    }
                  }
                },
                "else": {},
                "runAfter": {
                  "Check_SMS_preference": ["Succeeded", "Failed", "Skipped"]
                }
              }
            },
            "else": {
              "Send_fallback_email": {
                "type": "ApiConnection",
                "inputs": {
                  "body": {
                    "To": "@items('Apply_to_each_subscriber')?['EmailAddress']",
                    "Subject": "🗳️ Friday Lunch Voting is Open!",
                    "Body": "<p>Hi @{items('Apply_to_each_subscriber')?['FullName']},</p><p>Weekly lunch voting is now open! <a href='https://forms.office.com/e/dH0SR0c1Gj'>Vote here</a></p><p>Voting closes Friday at 7:45 AM.</p>",
                    "Importance": "Normal"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['office365']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                }
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "Format_restaurant_list": ["Succeeded"]
        }
      },
      "Log_voting_start": {
        "type": "ApiConnection",
        "inputs": {
          "body": {
            "Title": "@concat('Voting Started - ', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
            "VotingDate": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
            "Action": "Voting Started",
            "Timestamp": "@utcnow()",
            "NotificationsSent": "@length(body('Get_active_subscribers')?['value'])"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "post",
          "path": "/datasets/@{encodeURIComponent('https://oemeta01.sharepoint.com/sites/OemetaNorthAmerica')}/tables/@{encodeURIComponent('Activity_Log')}/items"
        },
        "runAfter": {
          "Apply_to_each_subscriber": ["Succeeded"]
        }
      }
    },
    "outputs": {}
  },
  "parameters": {
    "$connections": {
      "value": {
        "office365": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/sharepointonline"
        },
        "teams": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/connections/teams",
          "connectionName": "teams",
          "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/teams"
        }
      }
    }
  }
}
