ORDER-CAPTURE-FLOW.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "When_a_new_response_is_submitted": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['microsoftforms']['connectionId']"
          }
        },
        "method": "get",
        "path": "/formapi/api/forms/CxqgqQJeFh/responses"
      }
    }
  },
  "actions": {
    "Get_response_details": {
      "runAfter": {},
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['microsoftforms']['connectionId']"
          }
        },
        "method": "get", 
        "path": "/formapi/api/forms/CxqgqQJeFh/responses/@{triggerBody()?['resourceData']?['responseId']}"
      }
    },
    "Save_Order_to_SharePoint": {
      "runAfter": {
        "Get_response_details": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
          }
        },
        "method": "post",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://oemeta01.sharepoint.com/sites/OemetaNorthAmerica'))}/tables/@{encodeURIComponent(encodeURIComponent('Order_Details'))}/items",
        "body": {
          "Title": "@concat(body('Get_response_details')?['responses'][0]?['r1'], ' - Order')",
          "CustomerName": "@body('Get_response_details')?['responses'][0]?['r1']",
          "Restaurant": "Pizza Palace",
          "OrderDetails": "@body('Get_response_details')?['responses'][0]?['r2']",
          "SpecialInstructions": "@body('Get_response_details')?['responses'][0]?['r3']",
          "OrderDate": "@utcnow()",
          "WeekNumber": "@div(sub(ticks(utcnow()), ticks('1970-01-01T00:00:00Z')), 604800000)"
        }
      }
    },
    "Send_Order_Confirmation": {
      "runAfter": {
        "Save_Order_to_SharePoint": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "pacheco@oemeta.com",
          "Subject": "🍔 Order Received Successfully!",
          "Body": "@concat('<h2>Order Confirmation</h2><p><strong>Customer:</strong> ', body('Get_response_details')?['responses'][0]?['r1'], '</p><p><strong>Restaurant:</strong> Pizza Palace</p><p><strong>Order:</strong> ', body('Get_response_details')?['responses'][0]?['r2'], '</p><p><strong>Special Instructions:</strong> ', coalesce(body('Get_response_details')?['responses'][0]?['r3'], 'None'), '</p><p><strong>Time:</strong> ', formatDateTime(utcnow(), 'hh:mm tt'), '</p><p>Your order has been recorded! Summary will be sent at 11:00 AM.</p><p><em>🔧 Testing: Only you receive this confirmation.</em></p>')",
          "IsHtml": true
        }
      }
    }
  }
}
