SUBSCRIPTION-FLOW.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Week",
        "interval": 1,
        "schedule": {
          "hours": ["9"],
          "minutes": [0],
          "weekDays": ["Monday"]
        },
        "timeZone": "Eastern Standard Time"
      },
      "type": "Recurrence",
      "metadata": {
        "description": "🔔 SUBSCRIPTION SETUP: Runs Monday 9 AM to collect preferences. Change to your preferred time."
      }
    }
  },
  "actions": {
    "Get_All_Employees": {
      "runAfter": {},
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365users']['connectionId']"
          }
        },
        "method": "get",
        "path": "/users"
      }
    },
    "Send_Subscription_Emails": {
      "runAfter": {
        "Get_All_Employees": ["Succeeded"]
      },
      "type": "Foreach",
      "foreach": "@body('Get_All_Employees')?['value']",
      "actions": {
        "Send_Subscription_Email": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@items('Send_Subscription_Emails')?['Mail']",
              "Subject": "🍕 Join Our Friday Lunch System - Choose Your Notifications!",
              "Body": "@concat('<h2>Hi ', items('Send_Subscription_Emails')?['DisplayName'], '!</h2><p>We''re launching an automated Friday lunch ordering system! 🎉</p><h3>🔔 How do you want to receive notifications?</h3><p>We want to send you notifications the way YOU prefer. Please take 30 seconds to let us know:</p><div style=\"text-align: center; margin: 30px 0;\"><a href=\"https://forms.office.com/e/YOUR_SUBSCRIPTION_FORM_ID\" style=\"background-color: #0078d4; color: white; padding: 15px 25px; text-decoration: none; border-radius: 5px; font-size: 16px; display: inline-block;\">🔔 SET MY PREFERENCES</a></div><h3>📱 Available Notification Options:</h3><ul><li><strong>📧 Email (Outlook)</strong> - Work email notifications</li><li><strong>📧 Gmail</strong> - Personal Gmail notifications</li><li><strong>💬 Teams</strong> - Microsoft Teams messages</li><li><strong>📱 Text/SMS</strong> - Text message alerts</li><li><strong>💬 WhatsApp</strong> - WhatsApp messages</li><li><strong>📱 Telegram</strong> - Telegram bot messages</li></ul><h3>🍽️ How the lunch system works:</h3><p><strong>Thursday:</strong> Vote for restaurant<br><strong>Friday morning:</strong> Winner announced + place your order<br><strong>Friday 11 AM:</strong> Orders sent to restaurant</p><p><strong>⏰ Please set your preferences by Wednesday</strong> so we can include you in this week''s lunch coordination!</p><p>Questions? Reply to this email.</p><p>Thanks!<br>The Lunch Coordination Team</p><hr><p style=\"font-size: 12px; color: #666;\">🔧 COORDINATOR: Replace pacheco@oemeta.com with coordinator email and update form URL</p>')",
              "IsHtml": true,
              "Importance": "Normal"
            }
          }
        }
      }
    },
    "Send_Coordinator_Summary": {
      "runAfter": {
        "Send_Subscription_Emails": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "pacheco@oemeta.com",
          "Subject": "🔔 Lunch System: Subscription Emails Sent",
          "Body": "@concat('<h2>Subscription Phase Started</h2><p>Subscription emails have been sent to all employees to collect notification preferences.</p><p><strong>Emails sent to:</strong> ', length(body('Get_All_Employees')?['value']), ' employees</p><p><strong>Subscription form:</strong> <a href=\"https://forms.office.com/e/YOUR_SUBSCRIPTION_FORM_ID\">Subscription Form</a></p><p><strong>Next steps:</strong></p><ol><li>Monitor subscription responses throughout the week</li><li>Update Participants list with preferences</li><li>Launch voting system Thursday</li></ol><hr><p><em>🔧 COORDINATOR NOTE: Replace pacheco@oemeta.com with actual coordinator email and update form URL</em></p>')",
          "IsHtml": true,
          "Importance": "High"
        }
      },
      "metadata": {
        "note": "🔧 REPLACE EMAIL: Change 'pacheco@oemeta.com' to actual coordinator email when ready"
      }
    }
  }
}
