SUBSCRIPTION-PROCESSING-FLOW.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_a_new_response_is_submitted": {
        "type": "ApiConnectionWebhook",
        "inputs": {
          "body": {
            "eventType": "responseAdded",
            "notificationUrl": "@{listCallbackUrl()}",
            "source": "ms-connector"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['forms']['connectionId']"
            }
          },
          "path": "/formapi/api/forms/@{encodeURIComponent('YOUR_SUBSCRIPTION_FORM_ID')}/webhooks"
        }
      }
    },
    "actions": {
      "Get_response_details": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['forms']['connectionId']"
            }
          },
          "method": "get",
          "path": "/formapi/api/forms(@{encodeURIComponent('YOUR_SUBSCRIPTION_FORM_ID')})/responses",
          "queries": {
            "response_id": "@triggerBody()?['resourceData']?['responseId']"
          }
        },
        "runAfter": {}
      },
      "Parse_response_JSON": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Get_response_details')",
          "schema": {
            "type": "object",
            "properties": {
              "value": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "r_id": {"type": "string"},
                    "responder": {"type": "object"},
                    "submitDate": {"type": "string"},
                    "r_name": {"type": "string"},
                    "r_email": {"type": "string"},
                    "r_participate": {"type": "string"},
                    "r_notifications": {"type": "string"},
                    "r_phone": {"type": "string"},
                    "r_telegram": {"type": "string"},
                    "r_dietary": {"type": "string"}
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "Get_response_details": ["Succeeded"]
        }
      },
      "Create_subscription_in_SharePoint": {
        "type": "ApiConnection",
        "inputs": {
          "body": {
            "Title": "@first(body('Parse_response_JSON')?['value'])?['r_name']",
            "FullName": "@first(body('Parse_response_JSON')?['value'])?['r_name']",
            "EmailAddress": "@first(body('Parse_response_JSON')?['value'])?['r_email']",
            "ParticipateInLunch": "@if(equals(first(body('Parse_response_JSON')?['value'])?['r_participate'], 'Yes'), true, false)",
            "PreferredNotifications": "@first(body('Parse_response_JSON')?['value'])?['r_notifications']",
            "PhoneNumber": "@first(body('Parse_response_JSON')?['value'])?['r_phone']",
            "TelegramUsername": "@first(body('Parse_response_JSON')?['value'])?['r_telegram']",
            "DietaryRestrictions": "@first(body('Parse_response_JSON')?['value'])?['r_dietary']",
            "SubscriptionDate": "@utcnow()"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "post",
          "path": "/datasets/@{encodeURIComponent('https://oemeta01.sharepoint.com/sites/OemetaNorthAmerica')}/tables/@{encodeURIComponent('Subscription_Preferences')}/items"
        },
        "runAfter": {
          "Parse_response_JSON": ["Succeeded"]
        }
      },
      "Send_confirmation_email": {
        "type": "ApiConnection",
        "inputs": {
          "body": {
            "To": "@first(body('Parse_response_JSON')?['value'])?['r_email']",
            "Subject": "✅ Lunch System Subscription Confirmed!",
            "Body": "<div style='font-family: Segoe UI, Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa;'>\n  <div style='background-color: white; border-radius: 10px; padding: 30px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);'>\n    <h2 style='color: #2c3e50; text-align: center; margin-bottom: 30px;'>🍕 Welcome to the Lunch System!</h2>\n    \n    <p style='color: #34495e; font-size: 16px; line-height: 1.6;'>Hi <strong>@{first(body('Parse_response_JSON')?['value'])?['r_name']}</strong>,</p>\n    \n    <p style='color: #34495e; font-size: 16px; line-height: 1.6;'>Your subscription preferences have been saved successfully!</p>\n    \n    <div style='background-color: #e8f4f8; border-left: 4px solid #3498db; padding: 15px; margin: 20px 0;'>\n      <h3 style='color: #2980b9; margin: 0 0 10px 0;'>Your Settings:</h3>\n      <ul style='color: #34495e; margin: 0; padding-left: 20px;'>\n        <li><strong>Participation:</strong> @{first(body('Parse_response_JSON')?['value'])?['r_participate']}</li>\n        <li><strong>Notifications via:</strong> @{first(body('Parse_response_JSON')?['value'])?['r_notifications']}</li>\n        @{if(not(empty(first(body('Parse_response_JSON')?['value'])?['r_dietary'])), concat('<li><strong>Dietary Notes:</strong> ', first(body('Parse_response_JSON')?['value'])?['r_dietary'], '</li>'), '')}\n      </ul>\n    </div>\n    \n    @{if(equals(first(body('Parse_response_JSON')?['value'])?['r_participate'], 'Yes'), \n      '<div style=\"background-color: #e8f5e8; border-left: 4px solid #27ae60; padding: 15px; margin: 20px 0;\"><p style=\"color: #27ae60; margin: 0; font-weight: bold;\">🎉 Great! You\\'ll receive your first lunch voting notification this Thursday at 12:00 PM via your preferred method(s).</p></div>', \n      '<div style=\"background-color: #fef9e7; border-left: 4px solid #f39c12; padding: 15px; margin: 20px 0;\"><p style=\"color: #e67e22; margin: 0;\">You\\'ve opted out of participation but your preferences are saved if you change your mind later.</p></div>')}\n    \n    <p style='color: #34495e; font-size: 16px; line-height: 1.6;'>Questions or want to change your preferences? Just reply to this email.</p>\n    \n    <div style='text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #ecf0f1;'>\n      <p style='color: #7f8c8d; font-size: 14px; margin: 0;'>Automated Lunch System by pacheco@oemeta.com</p>\n    </div>\n  </div>\n</div>",
            "Importance": "Normal"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/Mail"
        },
        "runAfter": {
          "Create_subscription_in_SharePoint": ["Succeeded"]
        }
      },
      "Notify_coordinator": {
        "type": "ApiConnection",
        "inputs": {
          "body": {
            "To": "pacheco@oemeta.com",
            "Subject": "📝 New Lunch System Subscription",
            "Body": "<div style='font-family: Arial, sans-serif; max-width: 500px;'>\n  <h3 style='color: #2c3e50;'>New Subscription Alert</h3>\n  \n  <div style='background-color: #f8f9fa; padding: 15px; border-radius: 5px;'>\n    <p><strong>Name:</strong> @{first(body('Parse_response_JSON')?['value'])?['r_name']}</p>\n    <p><strong>Email:</strong> @{first(body('Parse_response_JSON')?['value'])?['r_email']}</p>\n    <p><strong>Participating:</strong> @{first(body('Parse_response_JSON')?['value'])?['r_participate']}</p>\n    <p><strong>Notifications:</strong> @{first(body('Parse_response_JSON')?['value'])?['r_notifications']}</p>\n    @{if(not(empty(first(body('Parse_response_JSON')?['value'])?['r_phone'])), concat('<p><strong>Phone:</strong> ', first(body('Parse_response_JSON')?['value'])?['r_phone'], '</p>'), '')}\n    @{if(not(empty(first(body('Parse_response_JSON')?['value'])?['r_dietary'])), concat('<p><strong>Dietary:</strong> ', first(body('Parse_response_JSON')?['value'])?['r_dietary'], '</p>'), '')}\n  </div>\n  \n  <p style='color: #7f8c8d; font-size: 12px; margin-top: 20px;'>Check your SharePoint list for the complete subscription database.</p>\n</div>",
            "Importance": "Normal"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/Mail"
        },
        "runAfter": {
          "Send_confirmation_email": ["Succeeded"]
        }
      }
    },
    "outputs": {}
  },
  "parameters": {
    "$connections": {
      "value": {
        "forms": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/connections/forms",
          "connectionName": "forms",
          "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/forms"
        },
        "office365": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/sharepointonline"
        }
      }
    }
  }
}
