summary-flow-template.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Week",
        "interval": 1,
        "schedule": {
          "hours": ["11"],
          "minutes": [0],
          "weekDays": ["Friday"]
        },
        "timeZone": "Eastern Standard Time"
      },
      "type": "Recurrence"
    }
  },
  "actions": {
    "Get_This_Weeks_Orders": {
      "runAfter": {},
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('YOUR_SHAREPOINT_SITE'))}/tables/@{encodeURIComponent(encodeURIComponent('Order_Details'))}/items",
        "queries": {
          "$filter": "@concat('WeekNumber eq ', formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
        }
      }
    },
    "Get_This_Weeks_Winning_Restaurant": {
      "runAfter": {
        "Get_This_Weeks_Orders": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('YOUR_SHAREPOINT_SITE'))}/tables/@{encodeURIComponent(encodeURIComponent('Weekly_Votes'))}/items",
        "queries": {
          "$filter": "@concat('WeekNumber eq ', formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))",
          "$top": 1
        }
      }
    },
    "Create_Order_Summary": {
      "runAfter": {
        "Get_This_Weeks_Winning_Restaurant": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "summary_html": "@concat('<h1>🍕 Weekly Lunch Order Summary</h1><h2>Week of: ', formatDateTime(utcnow(), 'MMMM dd, yyyy'), '</h2><h3>Restaurant: ', first(body('Get_This_Weeks_Winning_Restaurant')?['value'])?['RestaurantChoice'], '</h3><h3>Total Orders: ', length(body('Get_This_Weeks_Orders')?['value']), '</h3><hr><h3>📋 Individual Orders:</h3><table border=\"1\" style=\"border-collapse: collapse; width: 100%;\"><thead><tr style=\"background-color: #f2f2f2;\"><th style=\"padding: 10px; text-align: left;\">Name</th><th style=\"padding: 10px; text-align: left;\">Order Details</th><th style=\"padding: 10px; text-align: left;\">Special Instructions</th></tr></thead><tbody>', join(map(body('Get_This_Weeks_Orders')?['value'], concat('<tr><td style=\"padding: 10px; border: 1px solid #ddd;\">', item()?['CustomerName'], '</td><td style=\"padding: 10px; border: 1px solid #ddd;\">', item()?['OrderDetails'], '</td><td style=\"padding: 10px; border: 1px solid #ddd;\">', coalesce(item()?['SpecialInstructions'], 'None'), '</td></tr>')), ''), '</tbody></table><hr><p><strong>Generated:</strong> ', formatDateTime(utcnow(), 'MM/dd/yyyy hh:mm tt'), '</p><p><em>This summary was automatically generated by LISTO.</em></p>')"
      }
    },
    "Create_Simple_Text_Summary": {
      "runAfter": {
        "Create_Order_Summary": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "text_summary": "@concat('WEEKLY LUNCH ORDER SUMMARY\n', '========================\n', 'Week of: ', formatDateTime(utcnow(), 'MMMM dd, yyyy'), '\n', 'Restaurant: ', first(body('Get_This_Weeks_Winning_Restaurant')?['value'])?['RestaurantChoice'], '\n', 'Total Orders: ', length(body('Get_This_Weeks_Orders')?['value']), '\n\n', 'INDIVIDUAL ORDERS:\n', '-----------------\n', join(map(body('Get_This_Weeks_Orders')?['value'], concat(item()?['CustomerName'], ':\n  Order: ', item()?['OrderDetails'], '\n  Special Instructions: ', coalesce(item()?['SpecialInstructions'], 'None'), '\n\n')), ''), 'Generated: ', formatDateTime(utcnow(), 'MM/dd/yyyy hh:mm tt'), '\n', 'Auto-generated by LISTO')"
      }
    },
    "Send_Order_Summary_Email": {
      "runAfter": {
        "Create_Simple_Text_Summary": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "YOUR_COORDINATOR_EMAIL",
          "Subject": "@concat('📋 LISTO Order Summary - ', formatDateTime(utcnow(), 'MM/dd/yyyy'), ' - ', first(body('Get_This_Weeks_Winning_Restaurant')?['value'])?['RestaurantChoice'])",
          "Body": "@outputs('Create_Order_Summary')?['summary_html']",
          "IsHtml": true,
          "Attachments": [
            {
              "Name": "@concat('Lunch_Orders_', formatDateTime(utcnow(), 'yyyy-MM-dd'), '.txt')",
              "ContentBytes": "@base64(outputs('Create_Simple_Text_Summary')?['text_summary'])"
            }
          ]
        }
      }
    },
    "Archive_This_Weeks_Data": {
      "runAfter": {
        "Send_Order_Summary_Email": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "archive_complete": true,
        "orders_processed": "@length(body('Get_This_Weeks_Orders')?['value'])",
        "week_number": "@concat(formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
      }
    },
    "Send_Completion_Notification": {
      "runAfter": {
        "Archive_This_Weeks_Data": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "YOUR_COORDINATOR_EMAIL",
          "Subject": "✅ LISTO: Week Complete",
          "Body": "@concat('<h2>Weekly Lunch Process Complete! 🎉</h2><p><strong>Week of:</strong> ', formatDateTime(utcnow(), 'MMMM dd, yyyy'), '</p><p><strong>Restaurant:</strong> ', first(body('Get_This_Weeks_Winning_Restaurant')?['value'])?['RestaurantChoice'], '</p><p><strong>Orders Processed:</strong> ', length(body('Get_This_Weeks_Orders')?['value']), '</p><p><strong>Summary Sent:</strong> ', formatDateTime(utcnow(), 'hh:mm tt'), '</p><hr><h3>📈 Weekly Stats:</h3><ul><li>Voting started: Thursday 12:00 PM</li><li>Winner announced: Friday 7:45 AM</li><li>Orders collected: Friday 11:00 AM</li><li>Summary delivered: Just now!</li></ul><p><em>System will automatically reset for next week.</em></p><p><strong>Next voting starts:</strong> Next Thursday at 12:00 PM</p>')",
          "IsHtml": true
        }
      }
    }
  }
}
