TEST-summary-flow-10-00AM.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Day",
        "interval": 1,
        "schedule": {
          "hours": ["10"],
          "minutes": [0]
        },
        "timeZone": "Eastern Standard Time"
      },
      "type": "Recurrence",
      "metadata": {
        "description": "⚡ IMMEDIATE TEST: Set to 10:00 AM today. Change to Friday 11:00 AM for production."
      }
    }
  },
  "actions": {
    "Get_Test_Orders": {
      "runAfter": {},
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://oemeta01.sharepoint.com/sites/OemetaNorthAmerica'))}/tables/@{encodeURIComponent(encodeURIComponent('Order_Details'))}/items",
        "queries": {
          "$filter": "@concat('WeekNumber eq ', div(sub(ticks(utcnow()), ticks('1970-01-01T00:00:00Z')), 604800000))"
        }
      }
    },
    "Get_Test_Winner": {
      "runAfter": {
        "Get_Test_Orders": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": "Pizza Palace"
    },
    "Create_Test_Summary": {
      "runAfter": {
        "Get_Test_Winner": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "summary_html": "@concat('<h1>🍕 TEST: Weekly Lunch Order Summary</h1><h2>Week of: ', formatDateTime(utcnow(), 'MMMM dd, yyyy'), '</h2><h3>Restaurant: ', outputs('Get_Test_Winner'), '</h3><h3>Total Orders: ', length(body('Get_Test_Orders')?['value']), '</h3><hr><h3>📋 Individual Orders:</h3><table border=\"1\" style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;\"><thead><tr style=\"background-color: #0078d4; color: white;\"><th style=\"padding: 10px; text-align: left;\">Name</th><th style=\"padding: 10px; text-align: left;\">Order Details</th><th style=\"padding: 10px; text-align: left;\">Special Instructions</th></tr></thead><tbody>', if(greater(length(body('Get_Test_Orders')?['value']), 0), join(map(body('Get_Test_Orders')?['value'], concat('<tr><td style=\"padding: 10px; border: 1px solid #ddd;\">', item()?['CustomerName'], '</td><td style=\"padding: 10px; border: 1px solid #ddd;\">', item()?['OrderDetails'], '</td><td style=\"padding: 10px; border: 1px solid #ddd;\">', coalesce(item()?['SpecialInstructions'], 'None'), '</td></tr>')), ''), '<tr><td colspan=\"3\" style=\"padding: 10px; text-align: center; font-style: italic;\">No orders received yet - this is normal for testing</td></tr>'), '</tbody></table><hr><div style=\"background: #f8f9fa; padding: 15px; border-left: 4px solid #0078d4;\"><p><strong>📞 Next Steps:</strong></p><p>Call the restaurant with the above order details.</p><p><strong>🧪 Testing Complete!</strong> The system works. Now configure for production.</p></div><hr><p><strong>Generated:</strong> ', formatDateTime(utcnow(), 'MM/dd/yyyy hh:mm tt'), '</p><p><em>This summary was automatically generated by LISTO testing.</em></p>')"
      }
    },
    "Create_Test_Text_Summary": {
      "runAfter": {
        "Create_Test_Summary": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "text_summary": "@concat('WEEKLY LUNCH ORDER SUMMARY - TEST\n', '==================================\n', 'Week of: ', formatDateTime(utcnow(), 'MMMM dd, yyyy'), '\n', 'Restaurant: ', outputs('Get_Test_Winner'), '\n', 'Total Orders: ', length(body('Get_Test_Orders')?['value']), '\n\n', 'INDIVIDUAL ORDERS:\n', '-----------------\n', if(greater(length(body('Get_Test_Orders')?['value']), 0), join(map(body('Get_Test_Orders')?['value'], concat(item()?['CustomerName'], ':\n  Order: ', item()?['OrderDetails'], '\n  Special Instructions: ', coalesce(item()?['SpecialInstructions'], 'None'), '\n\n')), ''), 'No orders received yet - this is normal for testing.\n\n'), 'Generated: ', formatDateTime(utcnow(), 'MM/dd/yyyy hh:mm tt'), '\nAuto-generated by LISTO TEST')"
      }
    },
    "Send_Test_Summary_Email": {
      "runAfter": {
        "Create_Test_Text_Summary": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "pacheco@oemeta.com",
          "Subject": "📋 TEST: LISTO Order Summary - System Works!",
          "Body": "@outputs('Create_Test_Summary')?['summary_html']",
          "IsHtml": true,
          "Importance": "High",
          "Attachments": [
            {
              "Name": "@concat('TEST_Lunch_Orders_', formatDateTime(utcnow(), 'yyyy-MM-dd'), '.txt')",
              "ContentBytes": "@base64(outputs('Create_Test_Text_Summary')?['text_summary'])"
            }
          ]
        }
      }
    }
  }
}
