winner-flow-template.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Week",
        "interval": 1,
        "schedule": {
          "hours": ["7"],
          "minutes": [45],
          "weekDays": ["Friday"]
        },
        "timeZone": "Eastern Standard Time"
      },
      "type": "Recurrence"
    }
  },
  "actions": {
    "Get_This_Weeks_Votes": {
      "runAfter": {},
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('YOUR_SHAREPOINT_SITE'))}/tables/@{encodeURIComponent(encodeURIComponent('Weekly_Votes'))}/items",
        "queries": {
          "$filter": "@concat('WeekNumber eq ', formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
        }
      }
    },
    "Count_Votes_By_Restaurant": {
      "runAfter": {
        "Get_This_Weeks_Votes": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": "@json(concat('[', join(map(groupBy(body('Get_This_Weeks_Votes')?['value'], 'RestaurantChoice'), concat('{\"restaurant\":\"', item()?['key'], '\",\"votes\":', length(item()?['value']), '}')), ','), ']'))"
    },
    "Determine_Winner": {
      "runAfter": {
        "Count_Votes_By_Restaurant": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": "@first(reverse(sort(outputs('Count_Votes_By_Restaurant'), 'votes')))"
    },
    "Get_Participants": {
      "runAfter": {
        "Determine_Winner": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('YOUR_SHAREPOINT_SITE'))}/tables/@{encodeURIComponent(encodeURIComponent('Participants'))}/items",
        "queries": {
          "$filter": "Active eq true"
        }
      }
    },
    "Send_Winner_Notifications": {
      "runAfter": {
        "Get_Participants": ["Succeeded"]
      },
      "type": "Foreach",
      "foreach": "@body('Get_Participants')?['value']",
      "actions": {
        "Send_Winner_Email": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@items('Send_Winner_Notifications')?['EmailAddress']",
              "Subject": "🏆 This Week's Lunch Winner + Order Now!",
              "Body": "@concat('<h2>Hi ', items('Send_Winner_Notifications')?['FullName'], '!</h2><h3>🎉 This Week''s Winning Restaurant:</h3><h1 style=\"color: #0078d4;\">', outputs('Determine_Winner')?['restaurant'], '</h1><p><strong>Total Votes:</strong> ', outputs('Determine_Winner')?['votes'], '</p><hr><h3>🍔 Time to Place Your Order!</h3><p>You have until <strong>11:00 AM today</strong> to submit your individual lunch order.</p><p><a href=\"YOUR_ORDER_FORM_LINK\" style=\"background-color: #28a745; color: white; padding: 15px 25px; text-decoration: none; border-radius: 5px; font-size: 16px;\">PLACE YOUR ORDER</a></p><p><em>Orders will be collected at 11:00 AM and sent to the restaurant.</em></p>')",
              "IsHtml": true
            }
          }
        }
      }
    },
    "Notify_Coordinator_Winner": {
      "runAfter": {
        "Send_Winner_Notifications": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "YOUR_COORDINATOR_EMAIL",
          "Subject": "🏆 LISTO: Winner Announced",
          "Body": "@concat('<h2>Weekly Lunch Winner Announced</h2><p><strong>Winning Restaurant:</strong> ', outputs('Determine_Winner')?['restaurant'], '</p><p><strong>Total Votes:</strong> ', outputs('Determine_Winner')?['votes'], '</p><p><strong>Participants Notified:</strong> ', length(body('Get_Participants')?['value']), '</p><p><strong>Time:</strong> ', formatDateTime(utcnow(), 'MM/dd/yyyy hh:mm tt'), '</p><hr><h3>Vote Breakdown:</h3><ul>', join(map(outputs('Count_Votes_By_Restaurant'), concat('<li>', item()?['restaurant'], ': ', item()?['votes'], ' votes</li>')), ''), '</ul><p>Order collection will start now and finish at 11:00 AM.</p>')",
          "IsHtml": true
        }
      }
    }
  }
}
